/* Global(s,) Variables */
:root {
	--top-padding: 10vh;
	--text-color: #333;
	--content-margin: 5%;
	--max-content-width: 800px;
	--background-image-dimm: .3;
	--sidebar-width: 34vw;
	--sidebar-max-width: 300px;
	--sidebar-content-width: 85%;
	--sidebar-text-color: white;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: var(--text-color);
}
h1, h2, h3, h4 {
	color: black;
}
img {
	display: block;
}
* { box-sizing: border-box; }
/* End Global Variables and Imports */


/* General Layout Setup */
body {
	margin: 0;
	padding: 0;
}
#wrapper {
	display: flex;
	min-height: 100vh;
}

main, #sidebar {
	padding-top: var(--top-padding);
}

main {
	margin: 0 var(--content-margin);
}

@media only screen and (max-width: 950px) {
	:root {
		font-size: .9rem;
		--content-margin: 2%;
	}
	#wrapper {
		margin-left: 0;
		margin-top: 7rem;
		min-height: none;
		display: block;
	}
	#sidebar {
		padding-top: 1rem;
	}
	main {
		padding: 3rem 0;
		margin: 0;
	}
}
/* End General Layout Setup */


/* Sidebar Styling */
#sidebar {
	position: sticky;
	top: 0;
	height: 100vh;

	width: var(--sidebar-width);
	max-width: var(--sidebar-max-width);

	display: flex;
	flex-direction: column;

	padding-right: 1rem;
	padding-left: 1rem;

	user-select: none;

	background: linear-gradient(rgba(0, 0, 0, var(--background-image-dimm)), rgba(0, 0, 0, var(--background-image-dimm))), url('https://www.publicdomainpictures.net/pictures/310000/velka/tempelhof-airport-berlin.jpg');
	background-size: cover;
	background-position: -50% top;
}
#sidebar::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: white;
	opacity: 0;
	z-index: -1;
	transition: .4s;
}
#sidebar > header {
	width: var(--sidebar-content-width);
	margin: 0 auto;
}
#sidebar > header > * {
	margin-top: 0;
	display: block;
	text-align: right;
}
#sidebar > header > span {
	margin-left: calc(1.5rem + 5%);
	opacity: .7;
}
#sidebar > header > h2 {
	font-size: 1.7rem;
}
#sidebar > nav > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	padding: 0;
	margin: 0;

	width: var(--sidebar-content-width);
	margin: 0 auto;
}
#sidebar * {
	transition: .2s;
	color: var(--sidebar-text-color);
}

/* Sidebar Styling > Nav Entry Styling */
.nav-entry {
	margin: 1.3rem 0;
	list-style: none;
	transition: .3s;
	opacity: .7;
}
.nav-entry > a {
	font-size: 1.4em;
	text-decoration: none;
}
.nav-entry:hover, .nav-entry.active {
	opacity: 1;
}
.nav-entry::after {
	display: block;
	content: "";
	background-color: var(--sidebar-text-color);
	height: 1px;
	width: 0px;
	transition: .2s;
	margin-left: auto;
}
.nav-entry:hover::after, .nav-entry.active::after {
	width: 100%;
}
/* End Sidebar Styling > Nav Entry Styling */

@media only screen and (max-width: 950px) {
	#sidebar {
		width: auto;
		height: auto;
		position: fixed;
		top: 0;
		width: 100%;
		max-width: none;
		padding: .8rem 0;
	}
	#sidebar > header > * {
		display: inline-block;
		margin-bottom: 0;
	}
	#sidebar > nav > ul {
		flex-direction: row;
		justify-content: space-around;
		width: auto;
	}
	.nav-entry {
		margin: .5rem;
		font-size: 1rem;
	}
	.nav-entry::after {
		margin: 0 auto;
	}
	.scrolled #sidebar {
		--sidebar-text-color: var(--text-color);
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	}
	.scrolled #sidebar::before {
		opacity: 1;
	}
}
/* End Sidebar Styling */


/* Main Content Container Styling */
#content-wrapper {
	max-width: var(--max-content-width);
	margin: 0 auto;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 950px) {
	#content-wrapper {
		padding: 0 1.5rem;
	}
}
/* End Main Content Container Styling */

/* Content Styling */
#content-wrapper > header > h2 {
	font-size: 3rem;
	line-height: 1;
	margin: 0;
}
#content-wrapper > header > p {
	margin-top: .3rem;
}
#content-wrapper > section {
	line-height: 1.5;
	font-size: 1.2em;
}
#content-wrapper img {
	width: 100%;
}
.caption {
	font-size: .9em;
	margin-bottom: 2rem;
}
.flex-row {
	display: flex;
	justify-content: space-between;
}
.flex-row > * {
	flex: 1;
}
.flex-row > :not(:last-child) {
	margin-right: 2rem;
}

.separator {
	font-weight: bold;
}
.byline {
	margin-top: .3rem;
	color: #ccc;
}
.byline > .author {
	color: rgb(236, 44, 163);
	font-weight: bold;
}


@media only screen and (max-width: 500px) {
	.flex-row > * {
		margin-right: 0;
	}
	.flex-row {
		display: block;
	}
}
/* End Content Styling */


/* Start Footer Styling */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: right;
	color: var(--sidebar-text-color);
	width: var(--sidebar-width);
	max-width: var(--sidebar-max-width);
	opacity: .8;
}
footer > div {
	max-width:	var(--sidebar-content-width);
	margin: 0 auto;
}

@media only screen and (max-width: 950px) {
	footer {
		max-width: none;
		position: static;
		width: auto;
		margin: 0 auto;
		padding: 1.3rem 0;

		color: #999;
		background-color: #111;
		text-align: center;
	}
	footer > div {
		width: auto;
	}
}
/* End Start Footer Styling */