/* Global(s,) Variables and Imports */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

:root {
	--top-padding: 10vh;
	--background-image-dimm: .2;
	--text-color: #333;
	--content-margin: 5%;
	--max-content-width: 800px;
	--sidebar-width: min(400px, 28vw);
	--sidebar-content-width: 85%;
	--sidebar-text-color: white;
	font-family: 'Rubik', sans-serif;
	color: var(--text-color);
}
h1, h2, h3, h4 {
	color: black;
}
img {
	display: block;
}
* { box-sizing: border-box; }
/* End Global Variables and Imports */


/* General Layout Setup */
body {
	margin: 0;
	padding: 0;

	position: relative;
	/* min-height: 100vh; */

	overflow-x: hidden;
	overflow-y: scroll;
}
#wrapper {
	margin-left: var(--sidebar-width);
	min-height: 100vh;

}

#sidebar { grid-area: sidebar; }
main { grid-area: main; }
footer { grid-area: footer; }

main, #sidebar {
	padding-top: var(--top-padding);
}

@media only screen and (max-width: 840px) {
	:root {
		font-size: .9rem;
		--content-margin: 2%;
	}
	#wrapper {
		margin-left: 0;
		margin-top: 7rem;
		min-height: auto;
	}
	main, #sidebar {
		padding-top: 1rem;
	}
	main {
		padding-bottom: 9rem;
	}
}
/* End General Layout Setup */


/* Sidebar Styling */
#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;

	width: var(--sidebar-width);

	display: flex;
	flex-direction: column;

	padding-right: 1rem;
	padding-left: 1rem;

	user-select: none;

	background: linear-gradient(rgba(0, 0, 0, var(--background-image-dimm)), rgba(0, 0, 0, var(--background-image-dimm))), url('/assets/bg.jpeg');
	background-size: cover;
	background-position: -50% top;
}
#sidebar > #background-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: white;
	opacity: 0;
	z-index: 1;
}
#sidebar > header {
	width: var(--sidebar-content-width);
	margin: 0 auto;
}
#sidebar > header > * {
	margin-top: 0;
	display: block;
	text-align: right;
}
#sidebar > header > span {
	opacity: .7;
}
#sidebar > header > h2 {
	font-size: 1.7rem;
}
#sidebar > nav > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	padding: 0;
	margin: 0;

	width: var(--sidebar-content-width);
	margin: 0 auto;
}
#sidebar * {
	transition: .2s;
	z-index: 2;
	color: var(--sidebar-text-color);
}

/* Sidebar Styling > Nav Entry Styling */
.nav-entry {
	margin: 1.3rem 0;
	list-style: none;
	
	opacity: .7;
}
.nav-entry > a {
	font-size: 1.4em;
	text-decoration: none;
}
.nav-entry:hover, .nav-entry.active {
	opacity: 1;
}
.nav-entry::after {
	display: block;
	content: "";
	background-color: var(--sidebar-text-color);
	height: 1px;
	width: 0px;
	transition: .2s;
	margin-left: auto;
}
.nav-entry:hover::after, .nav-entry.active::after {
	width: 100%;
}
/* End Sidebar Styling > Nav Entry Styling */

@media only screen and (max-width: 840px) {
	#sidebar {
		width: 100vw;
		height: auto;
	}
	#sidebar {
		padding: .8rem 0;
	}
	#sidebar > header > * {
		display: inline-block;
		margin-bottom: 0;
	}
	#sidebar > nav > ul {
		flex-direction: row;
		justify-content: space-around;
		width: auto;
	}
	.nav-entry {
		margin: .5rem;
		font-size: 1rem;
	}
	.nav-entry::after {
		margin: 0 auto;
	}
	.scrolled #sidebar {
		--sidebar-text-color: var(--text-color);
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	}
	.scrolled #sidebar > #background-cover {
		opacity: 1;
	}
}
/* End Sidebar Styling */


/* Main Content Container Styling */
#content-wrapper {
	max-width: var(--max-content-width);
	padding: 0 2.5rem;
	margin: 0 var(--content-margin);
}
#content-wrapper > section {
	line-height: 1.5;
	font-size: 1.2em;
}
#content-wrapper > header > h2 {
	font-size: 2.2rem;
	margin: 1.2rem 0 0 0;
}
#content-wrapper > header > p {
	margin-top: .3rem;
}

@media only screen and (max-width: 840px) {
	#content-wrapper {
		padding: 0 1.5rem;
	}
}
/* End Main Content Container Styling */

/* Content Styling */

#content-wrapper img {
	width: 100%;
	border: 1px dashed #ddd;
}
.flex-row {
	display: flex;
	justify-content: space-between;
}
.flex-row > * {
	flex: 1;
}
.flex-row > :not(:last-child) {
	margin-right: 2rem;
}

.separator {
	font-weight: bold;
}
.byline {
	color: #ccc;
}
.byline > .author {
	color: rgb(236, 44, 163);
	font-weight: bold;
}

/* End Content Styling */


/* Start Footer Styling */
footer {
	position: fixed;
	left: 0;
	bottom: 0;

	text-align: right;
	/* margin-top: auto;
	background-color: #222;
	color: #555; */
	color: var(--sidebar-text-color);
	width: var(--sidebar-width);
	opacity: .8;
}
footer > div {
	max-width:	var(--sidebar-content-width);
	/* padding: 0 2.5rem; */
	margin: 0 auto;
}

@media only screen and (max-width: 840px) {
	footer {
		position: absolute;
		height: auto;
		width: 100vw;
		color: #999;
		background-color: #111;
		text-align: center;
	}
	footer {
		width: 100vw;
	}
}
/* End Start Footer Styling */